@import url('https://fonts.googleapis.com/css?family=Share|Carter+One|Inconsolata&display=swap');

.app {
  h1 {
    font-family: 'Carter One', sans-serif;
    font-size: 1.8em;
    text-align: center;
  }

  @media screen and (min-width: 1300px) {
    main {
      max-width: 80vw;
      margin: 0 auto;
    }
  }
}
