.editor {
  display: flex;
  flex-direction: column;
  border: 1px solid black;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Share, sans-serif;
    font-size: 0.7em;
    border-bottom: 1px solid black;

    h2 {
      margin-left: 5px;
    }
  }

  textarea {
    font-family: Inconsolata, monospace;
    font-size: 0.8em;
  }
}
