.editor {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 0 3px;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Share, sans-serif;
    font-size: 0.7em;
    border-bottom: 1px solid black;
    color: whitesmoke;
    background-color: #222;

    h2 {
      margin: 5px;
    }

    .sizing {
      margin-right: 3px;
    }
  }

  textarea {
    font-family: Inconsolata, monospace;
    font-size: 0.8em;
  }
}
