.preview {
  border: 1px solid black;
  margin: 0 3px;
  margin-top: 5px;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Share, sans-serif;
    font-size: 0.7em;
    border-bottom: 1px solid black;
    color: whitesmoke;
    background-color: #222;

    h2 {
      margin: 5px;
    }

    .sizing {
      margin-right: 3px;
    }
  }

  .rendered-html {
    font-family: Arial, sans-serif;
    font-size: 0.6em;
    text-align: left;
    margin-left: 3px;

    h1 {
      font-family: Arial, sans-serif;
      text-align: left;
    }

    img {
      max-width: 75vw;
    }
  }
}
