.preview {
  border: 1px solid black;
  margin-top: 5px;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Share, sans-serif;
    font-size: 0.7em;
    border-bottom: 1px solid black;

    h2 {
      margin-left: 5px;
    }
  }

  .rendered-html {
    font-family: Arial, sans-serif;
    font-size: 0.6em;
    text-align: left;
    margin-left: 3px;

    img {
      max-width: 75vw;
    }
  }
}
