body {
  margin: 0;
  display: grid;
  grid-template-areas: "header"
                       "main-content"
                       "footer";
  grid-template-rows: 1fr 3fr 1fr;
}

header {
  grid-area: header;
  position: fixed;
  height: 8vh;
  width: 100vw;
  background-color: beige;
  display: grid;
  grid-template-areas: "logo navigation";
  grid-template-columns: 1fr 2fr;
}

#logo {
  grid-area: logo;
  display: flex;
}

#logo > img {
  max-width: 100%;
  max-height: 8vh;
  width: auto;
  height: auto;
}

#logo h1 {
  text-align: start;
  vertical-align: middle;
  white-space: nowrap;
  font-family: sans-serif;
}

#nav-bar {
  grid-area: navigation;
}

nav, ul {
  width: 100%;
}

nav ul {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
}

main {
  display: grid;
  grid-area: main-content;
}

footer {
  display: flex;
  grid-area: footer;
}

@media only screen and (max-device-width: 667px) {

}