/* https://www.color-hex.com/color-palette/1294 */

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');
@import url('https://fonts.googleapis.com/css?family=Life+Savers');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*
* GENERAL STYLES
*******************/

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-areas: "header"
                       "main-content"
                       "footer";
  grid-template-rows: .4fr 3fr 1fr;
  justify-content: center;
  background-color: #005b96;
}

/*
* NAVIGATION
********************/

header {
  grid-area: header;
  position: fixed;
  height: 8vh;
  width: 100vw;
  background-color: #b3cde0;
  display: grid;
  grid-template-areas: "logo navigation";
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 5px 7px #333;
}

#logo {
  grid-area: logo;
  display: flex;
}

#logo > img {
  max-width: 100%;
  max-height: 8vh;
  width: auto;
  height: auto;
}

#logo h1 {
  text-align: start;
  vertical-align: middle;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 3px;
  white-space: nowrap;
  font-family: 'Baloo Bhaijaan', cursive;
  color: #011f4b;
}

#nav-bar {
  grid-area: navigation;
  display: flex;
  align-content: center;
  margin: 0;
  font-family: 'Life Savers', serif;
  font-weight: bold;
}

nav, ul {
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-link {
  border-radius: 5px;
  padding: 8px 5px;
  width: 110px;
  text-align: center;
  background-color: #011f4b;
  color: #b3cde0;
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
  background-color: #005b96;
  color: #b3cde0;
  box-shadow: 5px 5px 5px #6497b1;
}

#fcc_test_suite_wrapper {
  width: 30vw;
}

/*
* MAIN CONTENT
********************/

main {
  display: grid;
  grid-area: main-content;
  width: 80vw;
  background-color: #eee;
  margin-top: 8vh;
  padding: 1px 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

h2, h3, h4 {
  font-family: 'Life Savers', serif;
}

h3 {
  margin-left: 20px;
}

p {
  text-align: justify;
}

#trail {
  display: grid;
  grid-template-rows: .5fr .7fr .5fr .5fr 1.5fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  /* padding-top: 10px; */
}

#trail > h2, #disclaimer, h3, #trail-definition {
  grid-column: 1 / 3;
}

iframe {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

#utmb-presentation {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  margin: 0;
}

#races {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.race {
  display: flex;
  flex-direction: column;
  width: 155px;
  border: 1px #011f4b solid;
  border-radius: 5px;
  text-align: center;
  justify-self: center;
}

.race > h4, h5 {
  width: 100%;
  border-bottom: 1px #011f4b solid;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.race h4 {
  background-color: #b3cde0;
  background-clip: border-box;
}

.race h5 {
  background-color: #005b96;
  color: #b3cde0;
}

.race-container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.race-container::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .3;
  background-image: url(../images/mont-blanc-ign.jpg);
}

.race-desc {
  height: 100%;
  width: 100%;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 3px;
}

#equipment {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.equipment {
  border: 1px #005b96 solid;
  border-radius: 5px;
  margin: 5px;
  width: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.equipment img {
  width: 80%;
}

#join form{
  display: flex;
  justify-content: center;
}
 input {
   border-radius: 5px;
 }
 input[type="email"] {
   width: 200px;
   height: 30px;
   padding-left: 3px;
 }

 input[type="submit"] {
   border-style: none;
   background-color: #005b96;
   color: white;
   font-weight: bold;
   height: 35px;
   margin-left: 5px;
 }

footer {
  display: flex;
  grid-area: footer;
  background-color: #eee;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

footer svg {
  margin-right: 5px;
}


@media only screen and (max-device-width: 667px) {
  #header {
    grid-template-areas: "logo"
                         "navigation";
    height: 15vh;
    max-width: 667px;
    width: 100vw;
  }

  #logo {
    max-width: 375px;
    width: 100vw;
  }

  #logo h1 {
    margin-top: 0;
    margin-left: 50px;
  }

  #nav-bar ul {
    width: 100%;
  }

  main {
    width: 85vw;
  }

  main {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
  }

  p {
    font-size: .9em;
    line-height: 1.5em;
  }

  #trail {
    display: flex;
    flex-direction: column;
  }

  iframe {
    margin-top: 10px;
  }

  .race {
    width: 140px;
  }

  footer {
    width: 90.5vw;
  }
}

@media only screen and (min-device-width: 875px) {
  #trail {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr .5fr .5fr 1fr;
  }

  #trail > h2, h3, #disclaimer {
    grid-column: 1/6;
  }

  #trail-definition {
    grid-column: 1/2;
    margin: 0;
  }

  iframe {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
  }

  #utmb-presentation {
    grid-column: 3/4;
    grid-row: 4/5;
  }

  #races {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .equipment {
    width: 15%;
  }
}