#keyboard {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
  width: 100%;
  margin-top: 10px;

  button {
    height: 10vh;
    border-radius: 5px;
  }

  #clear {
    grid-column: 1 / 4;
  }

  #equals {
    grid-column: 3 / 5;
  }
}
