@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-family: 'Special Elite', cursive;
  font-size: .85em;
  color: #333;
}

main {
  min-height: 70vh;
  background-image: url(../images/typewriter_mobile.jpg);
  background-position: center;
}

@media screen and(min-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../images/large_tv_screen.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    min-width: 100vw;
  }
}

@media screen and(min-width: 1280px) {
  main {
    min-height: 80vh;
  }
}