button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: #00BFFF;
  color: whitesmoke;
  font-weight: bold;
  box-shadow: #333 3px 3px 7px;
}