@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Lobster');

/*
GLOBAL STYLES
-----------------*/

body {
  box-sizing: border-box;
  font-family: 'Slabo 27px', serif;
  text-align: justify;
  line-height: 1.5em;
}

header {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
}

.prettyprinted {
  overflow-x: scroll;
}

p > code, li > code {
  background-color: rgba(235, 93, 93, 0.3);
  border-radius: 3px;
}

nav > header {
  margin: 5px 0;
  text-align: center;
}
/*
NAVIGATION
-----------------*/

nav > ul {
  list-style-type: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px;
  padding-inline-start: 0;
}

nav li {
  padding: 5px 35px;
  border-bottom: 1px solid black;
}

nav li:hover {
  background-color: rgba(235, 93, 93, 0.3);
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:visited {
  color: darkgrey;
}

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-areas: "navigation main-content"
                         "foot-content foot-content";
    grid-column-gap: 1vw;
  }

  nav {
    grid-area: navigation;
    white-space: nowrap;
    height: 100vh;
    max-width: 30vw;
    position: sticky;
    top: 0;
  }

  main {
    grid-area: main-content;
    max-width: 50vw;
  }

  footer {
    grid-area: foot-content;
    justify-self: center;
  }

  main header {
    margin-top: 5px;
  }
}